In [1]:
import pandas as pd
import numpy as np

Pandas Series - like a table column - 1 dimensional array holding any type of data

In [2]:
my_series = [51,15,71,72]
my_var = pd.Series(my_series)
my_var

0    51
1    15
2    71
3    72
dtype: int64

Print spesific variable (index starts from 0)

In [3]:
my_var[2]

71

Labels using the table arguement. ( You can use shift+tab for info in jupyter )

In [7]:
my_index = ["A","B","C","D"]
my_var2 = pd.Series(my_series,my_index)
my_var2

A    51
B    15
C    71
D    72
dtype: int64

In [8]:
my_var2["B"]

15

Key-Value Dictionary

In [9]:
cars = {"Tesla":12, "Mercedes": 42, "BMW": 3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64