In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('all_years.csv')
my_df

,Year,Dog_name,Breed,Gender,Suburb
0,2008,ALFIE,JACK RUSSELL TERRIER,DESEXED MALE,NORTH ADELAIDE
1,2008,ALICE,FOX TERRIER WIRE,DESEXED FEMALE,NORTH ADELAIDE
2,2008,ARCHIBALD,GERMAN SHEPHERD DOG CROSS,DESEXED MALE,NORTH ADELAIDE
3,2008,Archie,AIREDALE TERRIER,MALE,NORTH ADELAIDE
4,2008,ARCHIE,PUG,MALE,NORTH ADELAIDE
...,...,...,...,...,...
1889,2012,ZOE,GERMAN SHEPHERD DOG,DESEXED FEMALE,NORTH ADELAIDE
1890,2012,ZOOEY,BOXER,FEMALE,NORTH ADELAIDE
1891,2012,ZSA ZSA,POMERANIAN,FEMALE,ADELAIDE
1892,2012,ZSA ZSA,CAVALIER KING CHARLES SPANIEL,FEMALE,ADELAIDE
1893,2012,ZSA ZSA,CAVALIER KING CHARLES SPANIEL,FEMALE,NORTH ADELAIDE

In [5]:
# Count value - Descending
my_df["Dog_name"].value_counts()

Dog_name
MAX                   56
CHARLIE               32
JACK                  27
RALPH                 25
LUCY                  25
                      ..
HUTCHI COOPE-BAKER     1
JAZ                    1
BABY                   1
JESSY                  1
ZOOEY                  1
Name: count, Length: 366, dtype: int64

In [7]:
# Count Distinc values - Ascending
my_df["Dog_name"].value_counts(ascending=True)

Dog_name
ZOOEY                  1
HUGO-HUGGY             1
HUTCHI COOPE-BAKER     1
JAZ                    1
JEDD                   1
                      ..
LUCY                  25
RALPH                 25
JACK                  27
CHARLIE               32
MAX                   56
Name: count, Length: 366, dtype: int64

In [ ]:
# Without NaN
my_df["Dog_name"].value_counts()

In [8]:
# Wit NaN
my_df["Dog_name"].value_counts(dropna=False)

Dog_name
MAX                   56
CHARLIE               32
JACK                  27
RALPH                 25
LUCY                  25
                      ..
HUTCHI COOPE-BAKER     1
JAZ                    1
BABY                   1
JESSY                  1
ZOOEY                  1
Name: count, Length: 366, dtype: int64

In [10]:
# Count Distinct Frequency - Percentage
my_df["Dog_name"].value_counts(normalize=True)

Dog_name
MAX                   0.029567
CHARLIE               0.016895
JACK                  0.014256
RALPH                 0.013200
LUCY                  0.013200
                        ...
HUTCHI COOPE-BAKER    0.000528
JAZ                   0.000528
BABY                  0.000528
JESSY                 0.000528
ZOOEY                 0.000528
Name: proportion, Length: 366, dtype: float64

In [11]:
# Count Spesific Item
my_df["Dog_name"].value_counts()["CHARLIE"]

32

In [13]:
# Count unique values - size
my_df.groupby("Dog_name").size()
# alpabethically ordered

Dog_name
ABBY        4
ACE         2
AISHA       5
ALBERT      2
ALFIE       8
           ..
ZEUS        5
ZOE        10
ZOOEY       1
ZSA ZSA    10
oscar       4
Length: 366, dtype: int64

In [14]:
# Count unique values - count
my_df.groupby("Dog_name").count()
# alpabethically ordered

          Year  Breed  Gender  Suburb
Dog_name
ABBY         4      4       4       4
ACE          2      2       2       2
AISHA        5      5       5       5
ALBERT       2      2       2       2
ALFIE        8      8       8       8
...        ...    ...     ...     ...
ZEUS         5      5       5       5
ZOE         10     10      10      10
ZOOEY        1      1       1       1
ZSA ZSA     10     10      10      10
oscar        4      4       4       4

[366 rows x 4 columns]

In [17]:
# Get a count of all column across all columns
my_df.apply(pd.value_counts)

C:\Users\Baran TaÃ§yÄ±ldÄ±z\AppData\Local\Temp\ipykernel_6076\2309818473.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)
C:\Users\Baran TaÃ§yÄ±ldÄ±z\AppData\Local\Temp\ipykernel_6076\2309818473.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)
C:\Users\Baran TaÃ§yÄ±ldÄ±z\AppData\Local\Temp\ipykernel_6076\2309818473.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)
C:\Users\Baran TaÃ§yÄ±ldÄ±z\AppData\Local\Temp\ipykernel_6076\2309818473.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  my_df.apply(pd.value_counts)

TypeError: '<' not supported between instances of 'str' and 'int'