In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv("all_years_short.csv")
my_df

   Year   Dog_name                      Breed          Gender          Suburb
0  2008      ALFIE       JACK RUSSELL TERRIER    DESEXED MALE  NORTH ADELAIDE
1  2008      ALICE           FOX TERRIER WIRE  DESEXED FEMALE  NORTH ADELAIDE
2  2008  ARCHIBALD  GERMAN SHEPHERD DOG CROSS    DESEXED MALE  NORTH ADELAIDE
3  2008     Archie           AIREDALE TERRIER            MALE  NORTH ADELAIDE
4  2008     ARCHIE                        PUG            MALE  NORTH ADELAIDE

In [2]:
# Grab row method 1) Location
my_df.loc[2]

Year                             2008
Dog_name                    ARCHIBALD
Breed       GERMAN SHEPHERD DOG CROSS
Gender                   DESEXED MALE
Suburb                 NORTH ADELAIDE
Name: 2, dtype: object

In [5]:
# Grab row method 2) Index Location
my_df.iloc[2]

Year                             2008
Dog_name                    ARCHIBALD
Breed       GERMAN SHEPHERD DOG CROSS
Gender                   DESEXED MALE
Suburb                 NORTH ADELAIDE
Name: 2, dtype: object

In [6]:
# Spesific Points ( row and columns)
# my_df.loc["Row","Column"]
my_df.loc[1,"Breed"]

'FOX TERRIER WIRE'

In [10]:
# Subsets
# my_df.loc[["row","row"],["column","column"]]
my_df.loc[[1,2,3],["Breed","Suburb"]]

                       Breed          Suburb
1           FOX TERRIER WIRE  NORTH ADELAIDE
2  GERMAN SHEPHERD DOG CROSS  NORTH ADELAIDE
3           AIREDALE TERRIER  NORTH ADELAIDE